.card-img {
  width: 100px;
  object-fit: cover;
  background-color: #eee9ea;
}

/* projectCard.module.css */
.card {
  max-width: 90vw;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .card {
    max-width: 600px; /* Set maximum width to 600px for larger screens */
  }
}

.skill {
  margin-right: 8px; /* Add space between skills */
  margin-bottom: 8px; /* Add space between lines */
  background-color: #3a5154;
  color: #e2e1e1;
}

.skill:hover {
  background-color: #c6c5c5; /* Light gray-green color */
  color: #283618; /* White color for text */
}
