.name-card-container {
  background-image: url("https://res.cloudinary.com/dp2anoz4i/image/upload/v1713816526/portfolio/DSC_0864_o7ybwu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Desaturate the background image */
  filter: grayscale(60%);
  /* Grey overlay */
  background-color: rgba(128, 128, 128, 0.1);
  height: 90vh;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
  margin-bottom: 80px;
}

.overlay {
  padding: 10px;
  width: 100%;
  background-color: rgba(185, 202, 246, 0.8); /* Grey overlay with opacity */
  border-radius: 8px; /* Ensure the overlay matches the container's border-radius */
}

.name-card {
  display: flex;
  flex-direction: row; /* Arrange avatar and info horizontally */
  align-items: center; /* Vertically center content */
  justify-content: center;
}

.avatar-section {
  width: 20vw; /* Initially set to 30% of the container width */
  height: 20vw;
  padding: 20px;
}

.info-section {
  display: flex;
  flex-direction: column; /* Arrange info vertically */
  align-items: flex-start; /* Align items to the start */
  margin-left: 20px; /* Add spacing between avatar and info */
}

.name-card-text h1 {
  margin-bottom: 8px;
  color: #0e1f80; 
  font-size: 4rem; /* Reduce font size for "Johnny" */
}

.name-card-text h2 {
  color: #3955a8; 
  font-size: 2rem; /* Reduce font size for "A software developer" */
}

.links {
  display: flex;
  flex-direction: column; /* Arrange links vertically */
  margin-top: 12px;
}

.links a {
  color: #1d2625; /* Dark gray text color */
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.links a:hover {
  color: #b7673c; /* Blue color on hover */
}

.typing-text {
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  font-size: 4rem; /* Adjust size as needed */
  width: 0;
  height: 4rem;
}

.typing {
  animation: typing 2s steps(30, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Add media query for smaller screens */
@media (max-width: 600px) {
  .name-card {
    flex-direction: column; /* Arrange avatar and info vertically on smaller screens */
    align-items: center; /* Horizontally center content */
  }

  .info-section {
    align-items: center; /* Center info items horizontally */
    margin-top: 20px; /* Add spacing between avatar and info */
  }
  .avatar-section {
    width: 40vw; /* Initially set to 30% of the container width */
    height: 40vw; /* Maintain aspect ratio */
  }
  .name-card-text h1 {
    font-size: 2rem;
  }
  .name-card-text h2 {
    font-size: 1.2rem;
  }
  .typing-text {
    font-size: 2rem;
    height: 3rem;
  }
}
