.timeline-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  overflow-y: scroll; /* Enable vertical scrolling */
  height: 400px; /* Adjust the height as needed */
  position: relative; /* Ensure ::before and ::after pseudo-elements position relative to this container */
  overflow: hidden; /* Clip content that extends beyond the container */
}

.lists {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 400px; /* Set the maximum height of the timeline */
}

.item {
  display: flex;
  flex-direction: row;
}

.line-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.line-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3px; /* Center the line */
  width: 2px;
  height: 100%; /* Full height of the container */
  background-color: #000000; /* Light grey color for the line */
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #333333; /* Dark grey */
  border-radius: 50%;
  margin-top: 50px;
  position: relative;
}

.date {
  width: 180px;
  padding-top: 45px;
}

.card {
  min-width: 300px;
  width: 90%;
  padding: 20px;
  margin: 20px;
  background-color: #f9fafb; /* Off-white background color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-description {
  margin-top: 10px;
}


.timeline-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px; /* Height of the fade effect */
  background: linear-gradient(
    transparent,
    #ffffff
  ); /* Gradient from transparent to white */
  pointer-events: none; /* Make the overlay transparent to pointer events */
}

.timeline-container::after {
  top: auto;
  bottom: 0;
}
